@font-face {
  font-family: "Font Family 1";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Font Family 2";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Font Family 3";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

header {
  font-family: "Font Family 1", sans-serif;
}

section {
  font-family: "Font Family 2", sans-serif;
}

p {
  font-family: "Font Family 3", sans-serif;
}

summary {
  font-family: "Font Family 3", sans-serif;
}



.font-class-1 {
  font-family: "Font Family 1", sans-serif;
  font-size: 36px;
  color: rgb(255, 255, 255);
}

.font-class-2 {
  font-family: "Font Family 2", sans-serif;
  line-height: 150px;
  color: rgb(255, 0, 0);
}

.font-class-3 {
  font-family: "Font Family 3", sans-serif;
  letter-spacing: 50px;
  color: rebeccapurple;
}


